
/** 内容样式 */
.layui-body > .layui-tab{
    margin: 0px;
}

.layui-body > .layui-tab > .layui-tab-content{
    padding: 0px;
}

.layui-body > .layui-tab > .layui-tab-title {
    border: 1px solid whitesmoke;
    background-color: white;
}

.layui-body > .layui-tab > .layui-tab-title > li{
    color: dimgray;
    font-size: 13.5px;
    line-height: 43px;
    border-right: 1px solid whitesmoke;
}

.layui-body > .layui-tab > .layui-tab-title > li.layui-this{
    color: #5FB878;
}

.layui-body > .layui-tab > .layui-tab-title > li.layui-this::after{
    border: none;
}

/** 顶部样式 */
.layui-layout-admin .layui-header {
    background-color: white;
}

.layui-layout-admin .layui-header .layui-nav *{
    color: black;
}

.layui-layout-admin .layui-header .layui-nav *:hover{
    color: black;
}

/** 图标样式 */
.layui-layout-admin .layui-logo {
    background-color: #28333E!important;
}

.layui-layout-admin .layui-logo .title {
    top: 2px;
    color: #009688;
    font-size: 20px;
    font-weight: 550;
    margin-left: 5px;
    position: relative;
}

/** 侧边样式 */
.layui-layout-admin .layui-side .layui-side-scroll,
.layui-layout-admin .layui-side .layui-side-scroll .layui-nav-tree {
    background-color: #28333E;
}

/** 收缩布局 */
.layui-layout-admin.collapse .layui-logo{
    width: 0px;
}

.layui-layout-admin.collapse .layui-logo .title{
    display: none;
}

.layui-layout-admin.collapse .layui-side{
    width: 0px;
}

.layui-layout-admin.collapse .layui-body{
    left: 0px;
}

.layui-layout-admin.collapse .layui-header .layui-layout-left{
    left: 0px;
}

.layui-layout-admin.collapse .layui-logo,
.layui-layout-admin.collapse .layui-side,
.layui-layout-admin.collapse .layui-body,
.layui-layout-admin.collapse .layui-header .layui-layout-left{
    transition: all .3s;
}
